/* Color */

.hover-light:hover {
    filter: brightness(125%);
}

.hover-dark:hover {
    filter: brightness(75%);
}

.text-white {
    color: #D8DEE9;
}

.text-black {
    color: #2E3440;
}

.text-bright-black {
    color: #575757;
}

.text-red {
    color: #c0392b;
}

.text-pink {
    color: #e84393; 
}
.text-green {
    color: #A3BE8C;
}

.text-blue {
    color: #0ba1e7;
}

.text-yellow {
    color: #EBCB8B;
}

.bg-bright-black {
    background: #3B4252;
}

.bg-white {
    background: #D8DEE9;
}

.bg-black {
    background: #3B4252;
}

.bg-flat-black {
    background: #3B4252;
}

.bg-blue {
    background: #5E81AC;
}

.bg-light-black {
    background: #818181;
}

.bg-light-blue {
    background: #aac2cf;
}

.bg-light-gray {
    background: #dfdfdf;
}

.bg-yellow {
    background: #EBCB8B;
}

.bg-orange {
    background: #d35400;
}

.bg-green {
    background: #8FBCBB;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent-hover:hover {
    background: #333333;
}

.bg-red {
    background: #BF616A;
}
.bg-darkblue{
    background: #5E81AC;
}

.shadow-hover:hover {
    border-color: transparent;
    box-shadow: 0 10px 10px 0 #00000033, 0 10px 40px 0 #00000030;
}
